footer {
	padding: 3rem 1rem;
	background-color: var(--footer-bg);
	margin-top: 5rem;
	color: var(--brown-light);
}

footer .logo {
	margin-bottom: 2rem;
	display: inline-block;
}

footer .logo img {
	width: 6rem;
	object-fit: cover;
}

.footer__main {
	display: flex;
	gap: 3rem;
	margin-bottom: 2rem;
}

.footer__main .footer__text {
	flex: 1 1 50%;
}

.footer__main .footer__text p {
	line-height: 1.4;
	font-family: 'Libre Baskerville', serif;
	width: 80%;
}

.footer__main .footer__links {
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.footer__main .footer__links ul {
	list-style: none;
}

.footer__main .footer__links ul h4 {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
}

.footer__main .footer__links ul li {
	margin-bottom: 0.5rem;
}

.footer__main .footer__links ul li a {
	color: inherit;
	font-family: 'Libre Baskerville', serif;
}

footer .copy {
	font-size: 1rem;
}




@media (max-width: 769px) {
	footer {
		padding: 2rem 1rem;
	}

	.footer__main {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: start;
		gap: 1.5rem;
	}

	.footer__main .footer__links {
		width: 100%;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {

	.footer__main {
		grid-template-columns: 1fr;
	}

	.footer__main .footer__links {
		grid-template-columns: 1fr;
	}
}